# Frequências e Medidas com R

Frequência é um conceito estatístico que se refere ao número de vezes que um determinado evento ou valor ocorre em um conjunto de dados. Ela pode ser calculada para qualquer tipo de dado, como palavras em um texto, números em uma planilha ou respostas em uma pesquisa.

As medidas estatísticas são utilizadas para resumir e descrever os dados em um conjunto. Elas incluem medidas de tendência central, como a média, a mediana e a moda, que indicam onde estão localizados os valores centrais dos dados. Também existem medidas de dispersão, como o desvio padrão e a amplitude, que mostram o quão distantes os valores estão uns dos outros.

Além disso, existem outras medidas estatísticas que podem ser úteis para analisar diferentes aspectos dos dados, como a assimetria, que indica se a distribuição dos dados é simétrica ou assimétrica, e a curtose, que mostra se a distribuição é mais ou menos achatada em relação à distribuição normal.

No geral, as medidas estatísticas são importantes ferramentas para a compreensão e análise de dados, permitindo que sejam tiradas conclusões úteis a partir de um conjunto de informações.

# 1 - Configurações Iniciais

## 1.1 - R

In [6]:
# Informações básicas do ambiente
sessionInfo()

R version 4.2.3 (2023-03-15)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Arch Linux

Matrix products: default
BLAS:   /usr/lib/libblas.so.3.11.0
LAPACK: /usr/lib/liblapack.so.3.11.0

locale:
 [1] LC_CTYPE=pt_BR.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=pt_BR.UTF-8        LC_COLLATE=pt_BR.UTF-8
 [5] LC_MONETARY=pt_BR.UTF-8    LC_MESSAGES=pt_BR.UTF-8
 [7] LC_PAPER=pt_BR.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=pt_BR.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] dplyr_1.1.0

loaded via a namespace (and not attached):
 [1] magrittr_2.0.3   tidyselect_1.2.0 uuid_1.1-0       R6_2.5.1
 [5] rlang_1.1.0      fastmap_1.1.1    fansi_1.0.4      tools_4.2.3
 [9] utf8_1.2.3       cli_3.6.0        htmltools_0.5.4  digest_0.6.31
[13] tibble_3.2.1     lifecycle_1.0.3  crayon_1.5.2     IRdisplay_1.1
[17] repr_1.1.6       base64enc_0.1-3  vctrs_0.6.0      IRkernel_1.3.2
[21] glue_1.6.2       evaluate_0.20    pbdZMQ_0.3-9     compiler_4.2.3
[25] pillar_1.8.1     generics_0.1.3   jsonlite_1.8.4   pkgconfig_2.0.3

In [5]:
# Importando biblioteca necessária
library(dplyr)

In [7]:
# Acessando ajuda de um método
?select

# 2 - Estatística Básica

## 2.1 - Importando a base de dados

In [9]:
dataset <- read.csv('/home/joeldspy/Modelos/Datasets/dados.csv')

In [10]:
head(dataset, 5)

  UF Sexo Idade Cor Anos.de.Estudo Renda Altura
1 11 0    23    8   12              800  1.603808
2 11 1    23    2   12             1150  1.739790
3 11 1    35    8   15              880  1.760444
4 11 0    46    2    6             3500  1.783158
5 11 1    47    8    9              150  1.690631

In [11]:
tail(dataset, 5)

      UF Sexo Idade Cor Anos.de.Estudo Renda Altura
76836 53 1    46    2   11              812  1.687030
76837 53 0    30    4    7             1500  1.792934
76838 53 0    32    8   12             1300  1.830587
76839 53 0    57    8    4             1500  1.726344
76840 53 0    38    8    4              900  1.658305

## 2.2 - Tipos de Dados

<img src='https://www.inf.ufsc.br/~andre.zibetti/probabilidade/img/classificacao_variaveis.png'>

In [15]:
select(dataset, 'Anos.de.Estudo')

      Anos.de.Estudo
1     12
2     12
3     15
4      6
5      9
6     12
7     12
8     12
9     14
10    12
11    12
12     6
13     6
14    12
15    12
16    16
17    10
18    16
19    12
20    12
21     1
22    16
23     5
24    12
25     9
26     5
27    16
28    12
29    14
30    12
⋮     ⋮
76811 12
76812 11
76813 12
76814  9
76815 12
76816  1
76817 12
76818 12
76819 10
76820  9
76821 12
76822  8
76823 12
76824 10
76825 12
76826 16
76827 12
76828 16
76829 16
76830 12
76831 16
76832 16
76833 12
76834  6
76835  1
76836 11
76837  7
76838 12
76839  4
76840  4

In [16]:
unique(select(dataset, 'Anos.de.Estudo'))

    Anos.de.Estudo
1   12
3   15
4    6
5    9
9   14
16  16
17  10
21   1
23   5
37   7
38   3
44   2
50   4
51   8
63  11
75  17
161 13

In [21]:
# Variável qualitativa ordinal
c(arrange(unique(select(dataset, Anos.de.Estudo)), Anos.de.Estudo))

$Anos.de.Estudo
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17

In [26]:
# Variável qualitativa nominal
c(unique(select(dataset, UF)))

c(unique(select(dataset, Cor)))

c(unique(select(dataset, Sexo)))

$UF
 [1] 11 12 13 14 15 16 17 21 22 23 24 25 26 27 28 29 31 32 33 35 41 42 43 50 51
[26] 52 53

$Cor
[1] 8 2 4 6 0

$Sexo
[1] 0 1

In [28]:
# Variável quantitativa discreta
sprintf('de %d até %d anos', min(dataset$Idade), max(dataset$Idade))

[1] "de 13 até 99 anos"

In [33]:
# Variável quantitativa contínua
sprintf('de %.2f até %.2f metros', min(dataset$Altura), max(dataset$Altura))

[1] "de 1.34 até 2.03 metros"

## 2.3 - Distribuições de Frequência

In [34]:
table(dataset$Sexo)

    0     1
53250 23590