In [1]:
# Vetores são um conjunto de elementos de mesma natureza
vector_char <- c('Data', 'Science'); vector_char

[1] "Data"    "Science"

In [2]:
# Vetor de números de ponto flutuante
vector_double <- c(3.14, 2.71, 1.61); vector_double

[1] 3.14 2.71 1.61

In [3]:
# Vetor com números complexos
vector_complex <- c(3+2i, 5+7i); vector_complex

[1] 3+2i 5+7i

In [4]:
# Vetor de números lógicos
vector_logic <- c(TRUE, FALSE, TRUE, FALSE); vector_logic

[1]  TRUE FALSE  TRUE FALSE

In [5]:
# Vetor de números inteiros
vector_integer <- c(1, 2, 3, 4); vector_integer

[1] 1 2 3 4

In [6]:
# Index de vetores
vector_primes <- c(2, 3, 5, 7); vector_primes

vector_primes[1]
vector_primes[4]
vector_primes[6]

[1] 2 3 5 7

[1] 2

[1] 7

[1] NA

In [7]:
# Concatenand vetores

v1 <- c(2, 3, 5, 7)
v2 <- c(11, 13, 17, 19)

c(v1, v2)

[1]  2  3  5  7 11 13 17 19

In [8]:
# Operação com vetores
v1 + v2

v1 - v2

v1 * v2

v1 / v2

[1] 13 16 22 26

[1]  -9 -10 -12 -12

[1]  22  39  85 133

[1] 0.1818182 0.2307692 0.2941176 0.3684211

In [9]:
# Somando vetores com dimensões diferentes
v3 <- c(1, 2, 3, 4)
v4 <- c(5, 6, 7, 8, 9, 10, 11, 12)

v3 + v4

[1]  6  8 10 12 10 12 14 16

In [10]:
# Nomeando colunas do vetor
v5 = c('Pierre', 'Fermat')
names(v5) = c('Name', 'Last Name')

v5

v5['Name']

     Name Last Name
 "Pierre"  "Fermat"

    Name
"Pierre"

In [11]:
# Criando matrizes com diferentes números de linhas
matrix(c(1:6), nrow=2)
matrix(c(1:6), nrow=3)
matrix(c(1:6), nrow=6)

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1]
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5
[6,] 6

In [12]:
# Criando matrizes com diferentes números de colunas
matrix(c(1:6), ncol=2)
matrix(c(1:6), ncol=3)
matrix(c(1:6), ncol=6)

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    2    3    4    5    6

In [13]:
# Usando o parâmetro byrow
my_data <- c(1:10)
matrix(data=my_data, nrow = 5, ncol=2)
matrix(data=my_data, nrow = 5, ncol=2, byrow=T)

     [,1] [,2]
[1,] 1     6
[2,] 2     7
[3,] 3     8
[4,] 4     9
[5,] 5    10

     [,1] [,2]
[1,] 1     2
[2,] 3     4
[3,] 5     6
[4,] 7     8
[5,] 9    10

In [14]:
# Fatiando a matriz
m1 <- matrix(data=c(1:9), nrow=3, ncol=3, byrow=T); m1

m1[2, 3]
m1[2, 2]
m1[, 3]

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

[1] 6

[1] 5

[1] 3 6 9

In [15]:
# Criando uma matriz diagonal
m2 <- diag(1:6)

m2

diag(m2)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    0    0    0    0    0
[2,] 0    2    0    0    0    0
[3,] 0    0    3    0    0    0
[4,] 0    0    0    4    0    0
[5,] 0    0    0    0    5    0
[6,] 0    0    0    0    0    6

[1] 1 2 3 4 5 6

In [16]:
# Obtendo a matriz transposta
m3 <- matrix(c(1:9), nrow=3, ncol=3)

m3

t(m3)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [17]:
# Operação com matriz
m1 <- matrix(c(9:17), nrow=3, ncol=3)
m2 <- matrix(c(18:26), nrow=3, ncol=3)

m1 + m2
m1 - m2
m1 * m2
m1 / m2

     [,1] [,2] [,3]
[1,] 27   33   39
[2,] 29   35   41
[3,] 31   37   43

     [,1] [,2] [,3]
[1,] -9   -9   -9
[2,] -9   -9   -9
[3,] -9   -9   -9

     [,1] [,2] [,3]
[1,] 162  252  360
[2,] 190  286  400
[3,] 220  322  442

     [,1]      [,2]      [,3]
[1,] 0.5000000 0.5714286 0.6250000
[2,] 0.5263158 0.5909091 0.6400000
[3,] 0.5500000 0.6086957 0.6538462

In [18]:
# Multiplicando uma matriz com um vetor
vetor <- c(1:4)
matriz <- matrix(c(2, 3, 4, 5), nr=2)

vetor
matriz
matriz * vetor

[1] 1 2 3 4

     [,1] [,2]
[1,] 2    4
[2,] 3    5

     [,1] [,2]
[1,] 2    12
[2,] 6    20

# 3 - Listas

In [20]:
# Lista de strings
list_char <- list('Welcome', 'to', 'Jupyter')

list_char

list_char[1]
list_char[2]
list_char[3]

[[1]]
[1] "Welcome"

[[2]]
[1] "to"

[[3]]
[1] "Jupyter"

[[1]]
[1] "Welcome"

[[1]]
[1] "to"

[[1]]
[1] "Jupyter"

In [26]:
# Criando uma lista de vetores
v1 <- c(1:10)
v2 <- c(2:11)
v3 <- c(3:12)

list_vector <- list(v1, v2, v3)

list_vector[1]
list_vector[2]
list_vector[3]

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[1]]
 [1]  2  3  4  5  6  7  8  9 10 11

[[1]]
 [1]  3  4  5  6  7  8  9 10 11 12

In [49]:
# Criando uma lista composta

m1 = matrix(c(1:9), nrow=3, ncol=3)
v1 = c(1:9)

list_com <- list(m1, v1)

list_com[1]
list_com[2]

[[1]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[1]]
[1] 1 2 3 4 5 6 7 8 9

# 4 - Strings

In [54]:
txt <- "Isso é uma String!"
class(txt)

[1] "character"

In [55]:
name <- "Pierre"; last_name <- "Fermat"
paste(name, last_name)

[1] "Pierre Fermat"

In [57]:
cat(name, last_name)

Pierre Fermat

In [58]:
theorem = "a equação x^n + y^n = z^n não possui soluções inteiras positivas para n > 2"

In [59]:
sprintf("%s de %s propôs a conjectura que viria a se tornar teorema: %s", name, last_name, theorem)

[1] "Pierre de Fermat propôs a conjectura que viria a se tornar teorema: a equação x^n + y^n = z^n não possui soluções inteiras positivas para n > 2"

In [63]:
txt

substr(txt, start=1, stop=5)

[1] "Isso é uma String!"

[1] "Isso "

In [64]:
nchar(txt)

[1] 18

In [65]:
toupper(txt)
tolower(txt)

[1] "ISSO É UMA STRING!"

[1] "isso é uma string!"

In [70]:
strsplit(txt, NULL)

[[1]]
 [1] "I" "s" "s" "o" " " "é" " " "u" "m" "a" " " "S" "t" "r" "i" "n" "g" "!"

In [71]:
strsplit(txt, " ")

[[1]]
[1] "Isso"    "é"       "uma"     "String!"