In [1]:
# Criando um vetor
v1 <- c(1, 2, 3, 4, 5, 6); v1

[1] 1 2 3 4 5 6

In [6]:
# Criando uma matriz
data <- c(1:50)
m1 <- matrix(data, nrow=5, ncol=10); m1

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,] 1     6   11   16   21   26   31   36   41   46
[2,] 2     7   12   17   22   27   32   37   42   47
[3,] 3     8   13   18   23   28   33   38   43   48
[4,] 4     9   14   19   24   29   34   39   44   49
[5,] 5    10   15   20   25   30   35   40   45   50

In [7]:
# Criando uma lista
l1 <- list(v1, m1); l1

[[1]]
[1] 1 2 3 4 5 6

[[2]]
     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]    1    6   11   16   21   26   31   36   41    46
[2,]    2    7   12   17   22   27   32   37   42    47
[3,]    3    8   13   18   23   28   33   38   43    48
[4,]    4    9   14   19   24   29   34   39   44    49
[5,]    5   10   15   20   25   30   35   40   45    50

In [29]:
vector_character <- c('X', 'Y', 'Z')
vector_integer <- c(1, 2, 3)
vector_boolean <- c(TRUE, FALSE, TRUE)

df <- data.frame(vector_character, vector_integer, vector_boolean); df

  vector_character vector_integer vector_boolean
1 X                1               TRUE
2 Y                2              FALSE
3 Z                3               TRUE

In [9]:
v1 > 3

[1] FALSE FALSE FALSE  TRUE  TRUE  TRUE

In [10]:
m1 > 20

     [,1]  [,2]  [,3]  [,4]  [,5] [,6] [,7] [,8] [,9] [,10]
[1,] FALSE FALSE FALSE FALSE TRUE TRUE TRUE TRUE TRUE TRUE
[2,] FALSE FALSE FALSE FALSE TRUE TRUE TRUE TRUE TRUE TRUE
[3,] FALSE FALSE FALSE FALSE TRUE TRUE TRUE TRUE TRUE TRUE
[4,] FALSE FALSE FALSE FALSE TRUE TRUE TRUE TRUE TRUE TRUE
[5,] FALSE FALSE FALSE FALSE TRUE TRUE TRUE TRUE TRUE TRUE

In [13]:
for (i in 1:length(v1)) {
    if (v1[i] == 3) {
        print('Pelo menos um elemento do vetor possui o valor 3')
    }
}

[1] "Pelo menos um elemento do vetor possui o valor 3"

In [15]:
l2 <- list(2, 3, 5, 7, 11, 13, 17, 19)

for (i in l2) print(i)

[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13
[1] 17
[1] 19

In [19]:
v1

names(v1) <- c('A', 'B', 'C', 'D', 'E', 'F')

A B C D E F
1 2 3 4 5 6

In [31]:
linhas = c('OBS1', 'OBS2', 'OBS3', 'OBS4', 'OBS5')
colunas = c('COL1', 'COL2', 'COL3', 'COL4', 'COL5', 'COL6', 'COL7', 'COL8', 'COL9', 'COL10')

dimnames(m1) <- list(linhas, colunas)

m1

     COL1 COL2 COL3 COL4 COL5 COL6 COL7 COL8 COL9 COL10
OBS1 1     6   11   16   21   26   31   36   41   46
OBS2 2     7   12   17   22   27   32   37   42   47
OBS3 3     8   13   18   23   28   33   38   43   48
OBS4 4     9   14   19   24   29   34   39   44   49
OBS5 5    10   15   20   25   30   35   40   45   50

In [32]:
colnames(df) <- c('CHAR', 'INTEGER', 'BOOLEAN')
rownames(df) <- c('OBS1', 'OBS2', 'OBS3')

df

     CHAR INTEGER BOOLEAN
OBS1 X    1        TRUE
OBS2 Y    2       FALSE
OBS3 Z    3        TRUE

In [34]:
is.vector(v1)

is.vector(m1)

[1] TRUE

[1] FALSE

In [42]:
as.vector(m1)

as.list(v1)

as.data.frame(m1)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

$A
[1] 1

$B
[1] 2

$C
[1] 3

$D
[1] 4

$E
[1] 5

$F
[1] 6

     COL1 COL2 COL3 COL4 COL5 COL6 COL7 COL8 COL9 COL10
OBS1 1     6   11   16   21   26   31   36   41   46
OBS2 2     7   12   17   22   27   32   37   42   47
OBS3 3     8   13   18   23   28   33   38   43   48
OBS4 4     9   14   19   24   29   34   39   44   49
OBS5 5    10   15   20   25   30   35   40   45   50

In [45]:
df

as.matrix(df)

as.numeric(df)

     CHAR INTEGER BOOLEAN
OBS1 X    1        TRUE
OBS2 Y    2       FALSE
OBS3 Z    3        TRUE

     CHAR INTEGER BOOLEAN
OBS1 X    1       TRUE
OBS2 Y    2       FALSE
OBS3 Z    3       TRUE

ERROR: Error in eval(expr, envir, enclos): 'list' object cannot be coerced to type 'double'

In [60]:
m2 <- matrix(1:90, nrow=10); m2

m2[sample(1:50, 10)] <- NA

m2

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
 [1,]  1   11   21   31   41   51   61   71   81
 [2,]  2   12   22   32   42   52   62   72   82
 [3,]  3   13   23   33   43   53   63   73   83
 [4,]  4   14   24   34   44   54   64   74   84
 [5,]  5   15   25   35   45   55   65   75   85
 [6,]  6   16   26   36   46   56   66   76   86
 [7,]  7   17   27   37   47   57   67   77   87
 [8,]  8   18   28   38   48   58   68   78   88
 [9,]  9   19   29   39   49   59   69   79   89
[10,] 10   20   30   40   50   60   70   80   90

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
 [1,] NA   NA   21   31   41   51   61   71   81
 [2,] NA   12   22   32   NA   52   62   72   82
 [3,]  3   13   23   33   43   53   63   73   83
 [4,]  4   14   24   34   NA   54   64   74   84
 [5,]  5   15   25   NA   45   55   65   75   85
 [6,] NA   NA   26   36   NA   56   66   76   86
 [7,]  7   17   27   37   47   57   67   77   87
 [8,]  8   18   28   38   48   58   68   78   88
 [9,]  9   19   29   NA   49   59   69   79   89
[10,] 10   20   30   40   50   60   70   80   90

In [61]:
is.na(m2)

      [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]  [,8]  [,9]
 [1,]  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [2,]  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
 [3,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [4,] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
 [5,] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
 [6,]  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
 [7,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [8,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [9,] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[10,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [76]:
v2 <- c(1:5); v2
m3 <- matrix(c(1:25), nrow=5, ncol=5); m3

sum(v2)
rowSums(m3)
colSums(m3)
cbind(v2, m3)
rbind(v2, m3)

m3 * 3

[1] 1 2 3 4 5

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

[1] 15

[1] 55 60 65 70 75

[1]  15  40  65  90 115

     v2
[1,] 1  1  6 11 16 21
[2,] 2  2  7 12 17 22
[3,] 3  3  8 13 18 23
[4,] 4  4  9 14 19 24
[5,] 5  5 10 15 20 25

   [,1] [,2] [,3] [,4] [,5]
v2 1     2    3    4    5
   1     6   11   16   21
   2     7   12   17   22
   3     8   13   18   23
   4     9   14   19   24
   5    10   15   20   25

     [,1] [,2] [,3] [,4] [,5]
[1,]  3   18   33   48   63
[2,]  6   21   36   51   66
[3,]  9   24   39   54   69
[4,] 12   27   42   57   72
[5,] 15   30   45   60   75

In [80]:
v4 <- c(10, 25, 50, 13, 90, 11, 32); v4

order(v4)
v4[order(v4)]

[1] 10 25 50 13 90 11 32

[1] 1 6 4 2 7 3 5

[1] 10 11 13 25 32 50 90