In [4]:
# Importando módulos necessários
library('dplyr')
library('readr')

In [18]:
# Importando os dados da máquina local
sleep <- suppressMessages(read_csv2(file='/home/joeldspy/Modelos/datasets/sleepdata.csv'))

head(sleep)

  Start               End                 Sleep quality Time in bed Wake up
1 2014-12-29 22:57:49 2014-12-30 07:30:13 100%          08:32:00    :)
2 2014-12-30 21:17:50 2014-12-30 21:33:54 3%            00:16:00    :|
3 2014-12-30 22:42:49 2014-12-31 07:13:31 98%           08:30:00    :|
4 2014-12-31 22:31:01 2015-01-01 06:03:01 65%           07:32:00    NA
5 2015-01-01 22:12:10 2015-01-02 04:56:35 72%           06:44:00    :)
6 2015-01-03 00:34:57 2015-01-03 07:47:23 83%           07:12:00    :)
  Sleep Notes            Heart rate Activity (steps)
1 NA                     59         0
2 Stressful day          72         0
3 NA                     57         0
4 NA                     NA         0
5 Drank coffee:Drank tea 68         0
6 Drank coffee:Drank tea 60         0

In [36]:
colnames(sleep) <- c('start', 'end', 'quality', 'time', 'wake_up', 'sleep_note', 'heart_rate', 'activity')

In [37]:
# Visualizando a classe da nossa variável
class(sleep)

[1] "spec_tbl_df" "tbl_df"      "tbl"         "data.frame"

In [38]:
# Sumário padrão do nosso dataframe
str(sleep)

spc_tbl_ [887 × 8] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ start     : POSIXct[1:887], format: "2014-12-29 22:57:49" "2014-12-30 21:17:50" ...
 $ end       : POSIXct[1:887], format: "2014-12-30 07:30:13" "2014-12-30 21:33:54" ...
 $ quality   : chr [1:887] "100%" "3%" "98%" "65%" ...
 $ time      : 'hms' num [1:887] 08:32:00 00:16:00 08:30:00 07:32:00 ...
  ..- attr(*, "units")= chr "secs"
 $ wake_up   : chr [1:887] ":)" ":|" ":|" NA ...
 $ sleep_note: chr [1:887] NA "Stressful day" NA NA ...
 $ heart_rate: num [1:887] 59 72 57 NA 68 60 NA 57 56 64 ...
 $ activity  : num [1:887] 0 0 0 0 0 0 0 0 0 0 ...
 - attr(*, "spec")=
  .. cols(
  ..   Start = col_datetime(format = ""),
  ..   End = col_datetime(format = ""),
  ..   `Sleep quality` = col_character(),
  ..   `Time in bed` = col_time(format = ""),
  ..   `Wake up` = col_character(),
  ..   `Sleep Notes` = col_character(),
  ..   `Heart rate` = col_double(),
  ..   `Activity (steps)` = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [39]:
# Visualização rápida
glimpse(sleep)

Rows: 887
Columns: 8
$ start      <dttm> 2014-12-29 22:57:49, 2014-12-30 21:17:50, 2014-12-30 22:42…
$ end        <dttm> 2014-12-30 07:30:13, 2014-12-30 21:33:54, 2014-12-31 07:13…
$ quality    <chr> "100%", "3%", "98%", "65%", "72%", "83%", "78%", "78%", "69…
$ time       <time> 08:32:00, 00:16:00, 08:30:00, 07:32:00, 06:44:00, 07:12:00…
$ wake_up    <chr> ":)", ":|", ":|", NA, ":)", ":)", NA, ":)", ":)", ":|", ":)…
$ sleep_note <chr> NA, "Stressful day", NA, NA, "Drank coffee:Drank tea", "Dra…
$ heart_rate <dbl> 59, 72, 57, NA, 68, 60, NA, 57, 56, 64, 62, 58, 65, 65, 53,…
$ activity   <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…

In [40]:
# Gerando uma amostra aleatória de dados
sample_n(sleep, size=10)

   start               end                 quality time     wake_up
1  2015-11-26 22:25:29 2015-11-27 06:20:36 81%     07:55:00 :)
2  2015-12-22 21:41:31 2015-12-23 05:43:31 82%     08:01:00 :)
3  2016-08-31 22:33:07 2016-09-01 06:20:32 49%     07:47:00 NA
4  2017-12-14 22:47:44 2017-12-15 05:51:51 60%     07:04:00 NA
5  2015-10-24 00:32:20 2015-10-24 08:12:45 77%     07:40:00 :)
6  2015-01-20 21:42:37 2015-01-21 05:45:22 80%     08:02:00 :|
7  2015-11-30 21:23:47 2015-12-01 06:19:46 64%     08:55:00 :)
8  2017-07-17 22:51:14 2017-07-18 06:17:36 71%     07:26:00 NA
9  2016-02-28 22:19:47 2016-02-29 05:45:34 64%     07:25:00 NA
10 2017-10-28 22:51:22 2017-10-29 07:51:27 91%     09:00:00 NA
   sleep_note                        heart_rate activity
1  Drank coffee:Drank tea:Worked out NA            0
2  Drank coffee:Drank tea:Worked out NA            0
3  Drank coffee:Worked out           NA         4015
4  NA                                NA         1566
5  Drank coffee:Drank tea:Worked out NA            0
6  Drank coffee:Drank tea:Worked out 60            0
7  Drank coffee:Drank tea:Worked out NA            0
8  NA                                NA         4840
9  Drank tea                         NA            0
10 NA                                NA         1097

In [42]:
# Função para selecionar uma variável especifíca do dataframe
head(select(sleep, quality))

head(select(sleep, quality:wake_up))

  quality
1 100%
2 3%
3 98%
4 65%
5 72%
6 83%

  quality time     wake_up
1 100%    08:32:00 :)
2 3%      00:16:00 :|
3 98%     08:30:00 :|
4 65%     07:32:00 NA
5 72%     06:44:00 :)
6 83%     07:12:00 :)

In [46]:
# Filtrando dados
filter(sleep, quality == '100%')

   start               end                 quality time     wake_up
1  2014-12-29 22:57:49 2014-12-30 07:30:13 100%    08:32:00 :)
2  2015-01-12 21:01:46 2015-01-13 06:13:23 100%    09:11:00 :)
3  2015-01-13 22:14:29 2015-01-14 06:20:33 100%    08:06:00 :)
4  2015-04-07 21:17:36 2015-04-08 06:18:55 100%    09:01:00 :)
5  2015-04-25 22:53:27 2015-04-26 07:53:35 100%    09:00:00 :)
6  2015-10-11 00:27:25 2015-10-11 08:58:25 100%    08:31:00 :)
7  2015-12-17 21:07:49 2015-12-18 05:45:44 100%    08:37:00 :)
8  2016-05-13 23:08:55 2016-05-14 07:53:57 100%    08:45:00 NA
9  2016-05-29 22:04:35 2016-05-30 06:40:37 100%    08:36:00 NA
10 2017-02-10 22:37:33 2017-02-11 07:07:59 100%    08:30:00 NA
11 2017-03-25 23:19:31 2017-03-26 07:16:06 100%    07:56:00 NA
12 2017-10-19 21:13:33 2017-10-20 06:14:02 100%    09:00:00 NA
13 2017-11-25 23:14:12 2017-11-26 08:19:42 100%    09:05:00 NA
   sleep_note                        heart_rate activity
1  NA                                59            0
2  Drank tea:Worked out              65            0
3  Drank coffee:Drank tea            55            0
4  Drank tea                         51            0
5  Drank coffee:Drank tea            61            0
6  Drank coffee:Stressful day        50            0
7  Drank coffee:Drank tea:Worked out NA            0
8  Drank coffee:Drank tea:Worked out NA            0
9  Drank coffee                      NA            0
10 Drank tea                         NA         3417
11 Drank coffee:Drank tea            NA         3549
12 NA                                NA          907
13 NA                                NA         5116

In [53]:
# Ordenando o conjunto de dados
arrange(sleep, wake_up) %>% head

  start               end                 quality time     wake_up
1 2015-06-04 22:20:19 2015-06-05 03:45:30 70%     05:25:00 :(
2 2014-12-29 22:57:49 2014-12-30 07:30:13 100%    08:32:00 :)
3 2015-01-01 22:12:10 2015-01-02 04:56:35 72%     06:44:00 :)
4 2015-01-03 00:34:57 2015-01-03 07:47:23 83%     07:12:00 :)
5 2015-01-04 21:34:44 2015-01-05 04:53:34 78%     07:18:00 :)
6 2015-01-05 21:32:25 2015-01-06 05:00:03 69%     07:27:00 :)
  sleep_note                        heart_rate activity
1 Drank coffee:Drank tea:Worked out NA         0
2 NA                                59         0
3 Drank coffee:Drank tea            68         0
4 Drank coffee:Drank tea            60         0
5 Ate late:Drank coffee             57         0
6 Drank coffee:Drank tea:Worked out 56         0