In [1]:
import pandas as pd

## Series

In [16]:
data = [2, 3, 5, 7, 11, 13, 17, 19, 23]
series = pd.Series(data = data, index = index)
series

Prime 1     2
Prime 2     3
Prime 3     5
Prime 4     7
Prime 5    11
Prime 6    13
Prime 7    17
Prime 8    19
Prime 9    23
dtype: int64

In [15]:
index = ["Prime " + str(i) for i in range(1, 10, 1)]

In [17]:
series + 1

Prime 1     3
Prime 2     4
Prime 3     6
Prime 4     8
Prime 5    12
Prime 6    14
Prime 7    18
Prime 8    20
Prime 9    24
dtype: int64

In [18]:
series - 1

Prime 1     1
Prime 2     2
Prime 3     4
Prime 4     6
Prime 5    10
Prime 6    12
Prime 7    16
Prime 8    18
Prime 9    22
dtype: int64

## Dataframes

In [21]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
series = pd.Series(data)

In [23]:
series

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

In [26]:
df = pd.DataFrame(data, columns = ["A", "B", "C"])

In [28]:
df.columns.name = "Coluna"

In [29]:
df

Coluna  A  B  C
0       1  2  3
1       4  5  6
2       7  8  9

In [34]:
linhas = ["Linha " + str(i) for i in range(1, 4, 1)]

In [35]:
linhas

['Linha 1', 'Linha 2', 'Linha 3']

In [36]:
df = pd.DataFrame(data = data, index = linhas)

In [37]:
df

         0  1  2
Linha 1  1  2  3
Linha 2  4  5  6
Linha 3  7  8  9

In [38]:
colunas = ["Coluna " + str(i) for i in range(1, 4, 1)]

In [39]:
df = pd.DataFrame(data = data, index = linhas, columns = colunas)

In [40]:
df

         Coluna 1  Coluna 2  Coluna 3
Linha 1         1         2         3
Linha 2         4         5         6
Linha 3         7         8         9

In [41]:
df

         Coluna 1  Coluna 2  Coluna 3
Linha 1         1         2         3
Linha 2         4         5         6
Linha 3         7         8         9