In [1]:
import pandas as pd

In [6]:
data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
index = list('321')

In [11]:
df = pd.DataFrame(data = data, index = list('ZYX'))

In [13]:
df

   0  1  2
Z  1  2  3
Y  4  5  6
X  7  8  9

In [14]:
df.sort_index()

   0  1  2
X  7  8  9
Y  4  5  6
Z  1  2  3

In [17]:
df.sort_index(inplace = True, axis = 0)

In [18]:
df

   0  1  2
X  7  8  9
Y  4  5  6
Z  1  2  3

In [21]:
df.sort_values(by = 0)

   0  1  2
Z  1  2  3
Y  4  5  6
X  7  8  9