# Relátorio de Análise II

## Tipos de imóveis

In [5]:
import pandas as pd

In [6]:
dados = pd.read_csv("extras/dados/aluguel.csv", sep = ";")

In [7]:
dados[["Tipo"]]

              Tipo
0      Apartamento
1      Apartamento
2      Apartamento
3      Apartamento
4      Apartamento
...            ...
19826    Quitinete
19827    Quitinete
19828    Quitinete
19829    Quitinete
19830    Quitinete

[19831 rows x 1 columns]

In [8]:
tipo_de_imovel = dados["Tipo"]

In [9]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel.drop_duplicates())

## Organizando a visualização

In [10]:
tipo_de_imovel

                     Tipo
0             Apartamento
16923                Casa
17821  Casa de Condomínio
18785        Casa de Vila
19018           Quitinete

In [11]:
tipo_de_imovel.index

Int64Index([0, 16923, 17821, 18785, 19018], dtype='int64')

In [12]:
tipo_de_imovel.shape

(5, 1)

In [13]:
for i in range(tipo_de_imovel.shape[0]):
    print(i)

0
1
2
3
4

In [14]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [15]:
tipo_de_imovel

                 Tipo
0         Apartamento
1                Casa
2  Casa de Condomínio
3        Casa de Vila
4           Quitinete

In [16]:
tipo_de_imovel.columns.name = "ID"

In [17]:
tipo_de_imovel

ID                Tipo
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete

In [18]:
tipo_de_imovel

ID                Tipo
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete