<font color='green' size=6> Introdução ao Apache Spark </font>

---

In [29]:
# Importa a biblioteca findspark, que permite configurar o Spark para uso com o Python.
import findspark
# Inicializa o Spark, adicionando automaticamente o Spark ao caminho (PATH) do Python
findspark.init()

In [28]:
# importa a classe SparkSession do módulo pyspark.sql, que é a interface principal para interagir com o Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

spark

23/04/10 18:02:12 WARN Utils: Your hostname, linux resolves to a loopback address: 127.0.1.1; using 192.168.1.43 instead (on interface wlp2s0)
23/04/10 18:02:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/10 18:02:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [39]:
data = [('Zeca Urubu', 18, 1.78), ('Pica-Pau', 23, 1.45)]
df = spark.createDataFrame(data, ['Nome', 'Idade', 'Altura'])
df

DataFrame[Nome: string, Idade: bigint, Altura: double]

In [40]:
df.show()

+----------+-----+------+
|      Nome|Idade|Altura|
+----------+-----+------+
|Zeca Urubu|   18|  1.78|
|  Pica-Pau|   23|  1.45|
+----------+-----+------+

In [41]:
df.toPandas()

         Nome  Idade  Altura
0  Zeca Urubu     18    1.78
1    Pica-Pau     23    1.45