In [ ]:
# Verificando a documentação de uma função
?sample

In [ ]:
# Visualizando argumentos de funções
args(sample)
args(mean)
args(sd)

In [ ]:
# Funções Built-in
abs(-35) # Valor absoluto
sum(c(1:15)) # Soma todos os elementos de uma variável composta
mean(c(1:10)) # A média de valores
round(1.1:5.8) # Arredondar valores
rev(c(1:5)) # Reveter um array
seq(1:5) # Criando um vetor
sort(rev(1:5)) # Ordenar um array
append(c(1:5), 6) # Adicionar um elemento ao vetor

In [ ]:
# Funções dentro de funções
hist(rnorm(100000))

In [ ]:
# Funções dentro de funções
v1 <- c(1.5, 2.5, 4.5, 6.75)
v2 <- rev(v1)

v1
v2

mean(c(abs(v1), abs(v2)))

In [ ]:
c(1, 10)

In [ ]:
# Criando funções
elevar_ao_quadrado <- function (x) {
    return (x ^ 2)
}

elevar_ao_quadrado(5)

In [ ]:
# Criando funções
bhaskara <- function (a, b, c) {
    delta <- b ^ 2 - 4 * a * c
    
    x1 <- (-b + sqrt(delta)) / (2 * a)
    x2 <- (-b - sqrt(delta)) / (2 * a)
    
    return (c(x1, x2))
}

bhaskara(1, 5, 12)

In [ ]:
# Criando funções
jogar_dado <- function () {
    numero <- sample(c(1:6), size=1)
    return (numero)
}

jogar_dado()

In [ ]:
# Função sem número de parâmetros definidos

funcao_aleatoria <- function (...) {
    df <- data.frame(cbind(...))
    
    return (df)
}

v1 <- c('x', 'y', 'z', 'n')
v2 <- c(1, 2, 3, 4)
v3 <- c(TRUE, TRUE, FALSE, FALSE)


funcao_aleatoria(v1)
funcao_aleatoria(v1, v2)
funcao_aleatoria(v1, v2, v3)

In [ ]:
# Vamos comparar agora a perfomace de uma função built-in e uma função criada pelos desenvolvedores
meu_sqrt <- function(numeros) {
    resposta <- numeric(length(numeros))
    
    for (i in seq_along(numeros)) {
        resposta[i] <- numeros[i] ^ (0.5)
    }
    
    return (resposta)
}

In [ ]:
# Criando um vetor imenso
x <- 1:1000000

In [ ]:
# Visualizando o tempo de execução da função criada
system.time(r1 <- meu_sqrt(x))

In [ ]:
# Visualizando o tempo de execução da função built-in
system.time(r2 <- sqrt(x))

# Funções Apply

In [1]:
# Criando uma lista
lst1 <- list(a=c(2:55), b=c(56:102))

In [2]:
lst1

$a
 [1]  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
[26] 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
[51] 52 53 54 55

$b
 [1]  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
[20]  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93
[39]  94  95  96  97  98  99 100 101 102

In [3]:
# Executando uma soma de todos os elementos de cada vetor da lista

soma <- 0
for (i in lst1$a) {
    soma <- soma + i
}

print(soma)

soma <- 0
for (i in lst1$b) {
    soma <- soma + i
}

print(soma)

[1] 1539
[1] 3713

In [4]:
# Aplicando a função sapply para somar cada vetor
sapply(lst1, sum)

   a    b
1539 3713

In [5]:
# Aplicando a função sapply para calcular a média de cada vetor
sapply(lst1, mean)

   a    b
28.5 79.0

In [6]:
# Aplicando a função apply em matrizes
m1 <- matrix(rnorm(25), nrow=5, ncol=5)

m1

LINHA <- 1
COLUNA <- 2

apply(m1, LINHA, mean)
apply(m1, COLUNA, mean)

     [,1]      [,2]        [,3]        [,4]        [,5]
[1,]  1.296890  0.07234184  0.39106655 -0.25138976 -0.0516502
[2,]  1.787955  0.12550084  0.82559073 -0.43836600  0.1025675
[3,] -1.967823  0.54037246 -1.29759503  0.53963052 -0.3350386
[4,] -1.485207 -0.58049388  0.01123335 -0.03927787 -1.9284741
[5,] -1.015495 -0.96693652  0.03734977 -0.24756018  0.3632619

[1]  0.2914518  0.4806496 -0.5040907 -0.8044438 -0.3658761

[1] -0.276735971 -0.161843052 -0.006470924 -0.087392659 -0.369866682

In [7]:
# Criando uma função semelhante a função random.randint do python
randint <- function(min, max, size=1) {
    return (sample(min:max, size, replace=TRUE))
}

In [11]:
# Criando um array de notas aleatorio
alunos <- c('Gabriel', 'Emanuel', 'Manu', 'Luiza', 'Yasmin', 'Sarah', 'Antônio')
matematica <- randint(min=0, max=100, size=7)
geografia <- randint(min=0, max=100, size=7)
quimica <- randint(min=0, max=100, size=7)
historia <- randint(min=0, max=100, size=7)

notas <- data.frame(alunos, matematica, geografia, quimica, historia)

notas

  alunos  matematica geografia quimica historia
1 Gabriel 18         96        38      84
2 Emanuel 88         56         1       0
3 Manu    14         19        79      52
4 Luiza   48         75        56      85
5 Yasmin  20         83        64      39
6 Sarah   64         49        40      28
7 Antônio 79         67        84      77

In [12]:
# Preenchendo todos os elementos da variável notas com NA
notas$media <- NA

In [13]:
notas

  alunos  matematica geografia quimica historia media
1 Gabriel 18         96        38      84       NA
2 Emanuel 88         56         1       0       NA
3 Manu    14         19        79      52       NA
4 Luiza   48         75        56      85       NA
5 Yasmin  20         83        64      39       NA
6 Sarah   64         49        40      28       NA
7 Antônio 79         67        84      77       NA

In [15]:
# subset com as notas de cada aluno
notas[, c(2:5)]

  matematica geografia quimica historia
1 18         96        38      84
2 88         56         1       0
3 14         19        79      52
4 48         75        56      85
5 20         83        64      39
6 64         49        40      28
7 79         67        84      77

In [16]:
# Calculando a média geral de cada aluno
notas$media <- apply(notas[, c(2, 3, 4, 5)], LINHA, mean)

In [17]:
notas

  alunos  matematica geografia quimica historia media
1 Gabriel 18         96        38      84       59.00
2 Emanuel 88         56         1       0       36.25
3 Manu    14         19        79      52       41.00
4 Luiza   48         75        56      85       66.00
5 Yasmin  20         83        64      39       51.50
6 Sarah   64         49        40      28       45.25
7 Antônio 79         67        84      77       76.75

In [18]:
# Arredondando as médias
notas$media <- round(notas$media)

In [19]:
notas

  alunos  matematica geografia quimica historia media
1 Gabriel 18         96        38      84       59
2 Emanuel 88         56         1       0       36
3 Manu    14         19        79      52       41
4 Luiza   48         75        56      85       66
5 Yasmin  20         83        64      39       52
6 Sarah   64         49        40      28       45
7 Antônio 79         67        84      77       77

In [22]:
# Verificando os aprovados
notas$aprovado <- notas$media >= 60

In [23]:
notas

  alunos  matematica geografia quimica historia media aprovado
1 Gabriel 18         96        38      84       59    FALSE
2 Emanuel 88         56         1       0       36    FALSE
3 Manu    14         19        79      52       41    FALSE
4 Luiza   48         75        56      85       66     TRUE
5 Yasmin  20         83        64      39       52    FALSE
6 Sarah   64         49        40      28       45    FALSE
7 Antônio 79         67        84      77       77     TRUE