In [1]:
# Formantando datas

# %d -> dia do mês em 2 dígitos (24)
# %m -> mês em 2 dígitos (10)
# %y -> ano em 2 dígitos (02)
# %Y -> ano em 4 dígitos (2002)
# %A -> dia da semana (Friday)
# %a -> dia da semana abreviado (fri)
# %B -> mês (July)
# %b -> mês abreviado (Jul)

In [2]:
hoje <- Sys.Date()

hoje

[1] "2023-03-25"

In [3]:
class(hoje)

[1] "Date"

In [4]:
Sys.time()

[1] "2023-03-25 16:49:28 -03"

In [5]:
Sys.timezone()

[1] "America/Fortaleza"

In [7]:
as.Date("2023-01-23", format="%Y-%m-%d")

[1] "2023-01-23"

In [8]:
as.Date('2023-01-23', format='%Y-%m-%d')

[1] "2023-01-23"

In [11]:
as.Date('24 de Outubro de 2002', format='%d de %B de %Y')

[1] "2002-10-24"

In [12]:
as.Date('28 Junho, 2016', format='%d %B, %Y')

[1] "2016-06-28"

In [13]:
format(hoje, format='%d de %B de %Y')

[1] "25 de março de 2023"

In [14]:
format(hoje, format='%B, dia %d de %Y')

[1] "março, dia 25 de 2023"

In [15]:
natal <- as.Date('1990-12-25', format='%Y-%m-%d')

natal

natal + 1

[1] "1990-12-25"

[1] "1990-12-26"

In [17]:
tempo <- as.POSIXct("2023-06-23 08:01:12")

typeof(tempo)

[1] "double"

In [18]:
class(tempo)

[1] "POSIXct" "POSIXt"

In [ ]:
tempo

tempo + 1

In [ ]:
hoje - natal

In [ ]:
d1 <- ISOdate(2004,09,09)

d2 <- ISOdate(2023,03,24)

d2 - d1

difftime(d2, d1, units='weeks')

difftime(d2, d1, units='hours')

In [ ]:
print('Hi, jupyter!')