In [1]:
# Vamos primeiramente visualizar os pacotes acessíveis no nosso ambiente
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "jupyter:irkernel"
 [4] "package:stats"     "package:graphics"  "package:grDevices"
 [7] "package:utils"     "package:datasets"  "package:methods"
[10] "Autoloads"         "package:base"

In [2]:
df <- read.table('/home/joeldspy/Modelos/Datasets/Iris.txt'); head(df)

  V1
1 Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
2 1,5.1,3.5,1.4,0.2,Iris-setosa
3 2,4.9,3.0,1.4,0.2,Iris-setosa
4 3,4.7,3.2,1.3,0.2,Iris-setosa
5 4,4.6,3.1,1.5,0.2,Iris-setosa
6 5,5.0,3.6,1.4,0.2,Iris-setosa

In [3]:
df <- read.table('/home/joeldspy/Modelos/Datasets/Iris.txt', header=TRUE, sep=','); head(df)

  Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm Species
1 1  5.1           3.5          1.4           0.2          Iris-setosa
2 2  4.9           3.0          1.4           0.2          Iris-setosa
3 3  4.7           3.2          1.3           0.2          Iris-setosa
4 4  4.6           3.1          1.5           0.2          Iris-setosa
5 5  5.0           3.6          1.4           0.2          Iris-setosa
6 6  5.4           3.9          1.7           0.4          Iris-setosa

In [5]:
df <- read.table('/home/joeldspy/Modelos/Datasets/Iris.txt',
                 header=TRUE, 
                 sep=',', 
                 col.names = c('id', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'))

head(df)

  id sepal_length sepal_width petal_length petal_width species
1 1  5.1          3.5         1.4          0.2         Iris-setosa
2 2  4.9          3.0         1.4          0.2         Iris-setosa
3 3  4.7          3.2         1.3          0.2         Iris-setosa
4 4  4.6          3.1         1.5          0.2         Iris-setosa
5 5  5.0          3.6         1.4          0.2         Iris-setosa
6 6  5.4          3.9         1.7          0.4         Iris-setosa

In [6]:
df <- read.csv('/home/joeldspy/Modelos/Datasets/Iris.txt'); head(df)

  Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm Species
1 1  5.1           3.5          1.4           0.2          Iris-setosa
2 2  4.9           3.0          1.4           0.2          Iris-setosa
3 3  4.7           3.2          1.3           0.2          Iris-setosa
4 4  4.6           3.1          1.5           0.2          Iris-setosa
5 5  5.0           3.6          1.4           0.2          Iris-setosa
6 6  5.4           3.9          1.7           0.4          Iris-setosa

In [8]:
# Exportando arquivos
write.table(mtcars, file='mtcars.csv')

In [13]:
# Lendo arquivos da internet
df <- read.table('https://raw.githubusercontent.com/selva86/datasets/master/Iris.csv', sep=',', header=TRUE)

head(df)

  Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm Species
1 1  5.1           3.5          1.4           0.2          Iris-setosa
2 2  4.9           3.0          1.4           0.2          Iris-setosa
3 3  4.7           3.2          1.3           0.2          Iris-setosa
4 4  4.6           3.1          1.5           0.2          Iris-setosa
5 5  5.0           3.6          1.4           0.2          Iris-setosa
6 6  5.4           3.9          1.7           0.4          Iris-setosa