In [1]:
library('readr')

In [4]:
head(read_csv('/home/joeldspy/Modelos/Datasets/Iris.csv'), 5)

Rows: 150 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Species
dbl (5): Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm Species
1 1  5.1           3.5          1.4           0.2          Iris-setosa
2 2  4.9           3.0          1.4           0.2          Iris-setosa
3 3  4.7           3.2          1.3           0.2          Iris-setosa
4 4  4.6           3.1          1.5           0.2          Iris-setosa
5 5  5.0           3.6          1.4           0.2          Iris-setosa

In [13]:
df <- read_csv('/home/joeldspy/Modelos/Datasets/Iris.csv')

unique(df$Species)

Rows: 150 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Species
dbl (5): Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Iris-setosa"     "Iris-versicolor" "Iris-virginica"

In [5]:
head(read_csv('/home/joeldspy/Modelos/Datasets/temperatures.csv'), 5)

New names:
• `` -> `...1`
Rows: 3650 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (2): ...1, Temp
date (1): Date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ...1 Date       Temp
1 1    1981-01-01 20.7
2 2    1981-01-02 17.9
3 3    1981-01-03 18.8
4 4    1981-01-04 14.6
5 5    1981-01-05 15.8

In [18]:
iris_dataframe <- read_csv('/home/joeldspy/Modelos/Datasets/Iris.csv', col_types = list(
                            Id = col_integer(),
                            SepalLengthCm = col_double(),
                            SepalWidthCm = col_double(),
                            PetalLengthCm = col_double(),
                            PetalWidthCm = col_double(),
                            Species = col_factor(c('Iris-setosa', 'Iris-versicolor', 'Iris-virginica')))
                          )

head(iris_dataframe)

  Id SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm Species
1 1  5.1           3.5          1.4           0.2          Iris-setosa
2 2  4.9           3.0          1.4           0.2          Iris-setosa
3 3  4.7           3.2          1.3           0.2          Iris-setosa
4 4  4.6           3.1          1.5           0.2          Iris-setosa
5 5  5.0           3.6          1.4           0.2          Iris-setosa
6 6  5.4           3.9          1.7           0.4          Iris-setosa

In [20]:
library('dplyr')

In [21]:
parse_date('27/03/2023', '%d/%m/%Y')

[1] "2023-03-27"

In [25]:
parse_date('2023/03/27', '%Y/%m/%d')

[1] "2023-03-27"

In [28]:
locale('pt')

locale('en')

locale('fr')

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   domingo (dom), segunda-feira (seg), terça-feira (ter), quarta-feira
        (qua), quinta-feira (qui), sexta-feira (sex), sábado (sáb)
Months: janeiro (jan), fevereiro (fev), março (mar), abril (abr), maio (mai),
        junho (jun), julho (jul), agosto (ago), setembro (set), outubro
        (out), novembro (nov), dezembro (dez)
AM/PM:  AM/PM

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   dimanche (dim.), lundi (lun.), mardi (mar.), mercredi (mer.), jeudi
        (jeu.), vendredi (ven.), samedi (sam.)
Months: janvier (janv.), février (févr.), mars (mars), avril (avr.), mai (mai),
        juin (juin), juillet (juil.), août (août), septembre (sept.),
        octobre (oct.), novembre (nov.), décembre (déc.)
AM/PM:  AM/PM