# Capítulo 04: Análise Bidimensional

## 4.1 - Coleta de Dados

In [1]:
import pandas as pd

In [5]:
dataset = pd.read_csv('data.csv')

In [6]:
dataset.head()

         UF    Sexo  Idade     Cor  Anos de Estudo  Renda    Altura
0  Rondônia  Mulher     23   Parda              12    800  1.603808
1  Rondônia   Homem     23  Branca              12   1150  1.739790
2  Rondônia   Homem     35   Parda              15    880  1.760444
3  Rondônia  Mulher     46  Branca               6   3500  1.783158
4  Rondônia   Homem     47   Parda               9    150  1.690631

## 4.2 - Introdução