# Módulo Pandas

## Series

In [1]:
# Importando o módulo pandas
import pandas as pd

# Importando o módulo numpy
import numpy as np

In [2]:
# Instânciando uma Series
series1 = pd.Series(np.random.rand(10)); series1

0    0.743686
1    0.161169
2    0.374649
3    0.452274
4    0.895822
5    0.813296
6    0.671700
7    0.616393
8    0.102314
9    0.858369
dtype: float64

In [3]:
# Visualizando o tipo da Series
type(series1)

pandas.core.series.Series

In [4]:
# Criando uma array numpy com os meses do ano
meses_do_ano_extenso = np.array([
    'Janeiro', 'Fevereiro', 'Março',
    'Abril', 'Maio', 'Junho',
    'Julho', 'Agosto', 'Setembro',
    'Outubro', 'Novembro', 'Dezembro'
])

# Definindo um array com números de 1 a 12
meses_do_ano_numeros = np.arange(1, 13, 1)

series2 = pd.Series(data = meses_do_ano_numeros, index=meses_do_ano_extenso); series2

Janeiro       1
Fevereiro     2
Março         3
Abril         4
Maio          5
Junho         6
Julho         7
Agosto        8
Setembro      9
Outubro      10
Novembro     11
Dezembro     12
dtype: int64

In [7]:
# Acessando o atributo index
series2.index

Index(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype='object')

In [8]:
# Criando uma Series de países
paises = {
    'Brasil': 'Real',
    'Estados Unidos': 'Dólar',
    'Japão': 'Iene',
    'Reino Unido': 'Euro',
    'Austrália': 'Dólar Australiano'
}

series3 = pd.Series(data=paises); series3

Brasil                         Real
Estados Unidos                Dólar
Japão                          Iene
Reino Unido                    Euro
Austrália         Dólar Australiano
dtype: object

In [9]:
# Series com valores escalares
series4 = pd.Series('Humano', index=['Cabeça', 'Tronco', 'Braços', 'Pernas']); series4

Cabeça    Humano
Tronco    Humano
Braços    Humano
Pernas    Humano
dtype: object

In [10]:
# Acessando elementos específicos
series3['Brasil']

'Real'

In [11]:
# Alterando um elemento
series4['Cabeça'] = 'Leão'; series4

Cabeça      Leão
Tronco    Humano
Braços    Humano
Pernas    Humano
dtype: object

In [12]:
# Operando com slicing
series3[:3]

Brasil             Real
Estados Unidos    Dólar
Japão              Iene
dtype: object

In [13]:
# Operação de comparação
series2 > 6

Janeiro      False
Fevereiro    False
Março        False
Abril        False
Maio         False
Junho        False
Julho         True
Agosto        True
Setembro      True
Outubro       True
Novembro      True
Dezembro      True
dtype: bool

In [14]:
# Calculando a média
np.mean(series2)

6.5

In [15]:
# Desvio padrão
np.std(series2)

3.452052529534663

## DataFrame

In [16]:
# Criando um dicionário python com produtos 
dicionario_python = {
    "Produto" : ['Sapato', 'Tênis', 'Sandália'],
    "Preço" : [75.99, 65.99, 29.99],
    "Dia" : [20230415, 20230416, 20230417]
}

dicionario_python

{'Produto': ['Sapato', 'Tênis', 'Sandália'],
 'Preço': [75.99, 65.99, 29.99],
 'Dia': [20230415, 20230416, 20230417]}

In [17]:
# Instânciando um DataFrame a partir do dicionário
dataframe1 = pd.DataFrame(dicionario_python); dataframe1

    Produto  Preço       Dia
0    Sapato  75.99  20230415
1     Tênis  65.99  20230416
2  Sandália  29.99  20230417

In [19]:
# Acessando o atributo shape
type(dataframe1.shape)

tuple

In [20]:
# Acessando a variável Produto
dataframe1['Produto']

0      Sapato
1       Tênis
2    Sandália
Name: Produto, dtype: object

In [21]:
# Acessando variáveis específicas
dataframe1[['Produto', 'Preço']]

    Produto  Preço
0    Sapato  75.99
1     Tênis  65.99
2  Sandália  29.99

In [22]:
# Acessando uma observação pelo index
dataframe1.loc[0]

Produto      Sapato
Preço         75.99
Dia        20230415
Name: 0, dtype: object

In [23]:
# Acessando uma observação pelo index númerico
dataframe1.iloc[0]

Produto      Sapato
Preço         75.99
Dia        20230415
Name: 0, dtype: object