In [1]:
# Importando pandas para análise de dados
import pandas as pd

# Importando numpy para análise númerica
import numpy as np

In [2]:
# Importando a base de dados para análise
dataset = pd.read_csv('/home/joeldspy/Modelos/datasets/ibge.csv')

In [3]:
# Visualizando as 5 primeiras observações do dataset
dataset.head(n=5)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

![Variáveis](https://www.computersciencemaster.com.br/wp-content/uploads/2021/03/variaveis.jpg)

In [4]:
# Tratando a variável UF
ddd_estado = {
    11: 'SP',
    12: 'SP',
    13: 'SP',
    14: 'SP',
    15: 'SP',
    16: 'SP',
    17: 'SP',
    18: 'SP',
    19: 'SP',
    21: 'RJ',
    22: 'RJ',
    24: 'RJ',
    27: 'ES',
    28: 'ES',
    31: 'MG',
    32: 'MG',
    33: 'MG',
    34: 'MG',
    35: 'MG',
    37: 'MG',
    38: 'MG',
    41: 'PR',
    42: 'PR',
    43: 'PR',
    44: 'PR',
    45: 'PR',
    46: 'PR',
    47: 'SC',
    48: 'SC',
    49: 'SC',
    51: 'RS',
    53: 'RS',
    54: 'RS',
    55: 'RS',
    61: 'DF',
    62: 'GO',
    63: 'TO',
    64: 'GO',
    65: 'MT',
    66: 'MT',
    67: 'MS',
    68: 'AC',
    69: 'RO',
    71: 'BA',
    73: 'BA',
    74: 'BA',
    75: 'BA',
    77: 'BA',
    79: 'SE',
    81: 'PE',
    82: 'AL',
    83: 'PB',
    84: 'RN',
    85: 'CE',
    86: 'PI',
    87: 'PE',
    88: 'CE',
    89: 'PI',
    91: 'PA',
    92: 'AM',
    93: 'PA',
    94: 'PA',
    95: 'RR',
    96: 'AP',
    97: 'AM',
    98: 'MA',
    99: 'MA'
}

# Reescrevendo a variável
dataset['UF'] = dataset['UF'].replace(ddd_estado); dataset.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  SP     0     23    8              12    800  1.603808
1  SP     1     23    2              12   1150  1.739790
2  SP     1     35    8              15    880  1.760444
3  SP     0     46    2               6   3500  1.783158
4  SP     1     47    8               9    150  1.690631

In [5]:
# Repare que há valores que não fazem sentido
dataset['UF'].unique()

array(['SP', 'RJ', 23, 25, 26, 'ES', 29, 'MG', 'PR', 50, 'RS', 52],
      dtype=object)

In [7]:
# Criando função para tratamento
def trata_UF(UF : str):
    if type(UF) is int:
        return None
    return UF

In [8]:
# Finalizando a variável UF
dataset['UF'] = dataset['UF'].apply(trata_UF)

In [9]:
# Tratando a variável Sexo
dataset['Sexo'].replace({0 : 'Masculino', 1 : 'Feminino'}, inplace=True)

In [10]:
# Tratando a variável Cor
dataset['Cor'].replace({
    0 : 'Indígena',
    2 : 'Branca',
    4 : 'Preta',
    6 : 'Amarela',
    8 : 'Parda',
    9 : 'Sem declaração'
}, inplace=True)

In [11]:
# Renomeando colunas
dataset.columns = ['estado', 'sexo', 'idade', 'cor', 'anos_de_estudo', 'renda', 'altura']

In [12]:
# Função para tratar os anos de estudo
def trata_anos_de_estudo(anos):
    if anos == 1:
        return 'Sem instrução'
    if anos == 17:
        return 'Não determinado'
    
    return f'{anos - 1} anos'

dataset['anos_de_estudo'] = dataset['anos_de_estudo'].apply(trata_anos_de_estudo)

In [14]:
dataset['anos_de_estudo'].unique()

array(['11 anos', '14 anos', '5 anos', '8 anos', '13 anos', '15 anos',
       '9 anos', 'Sem instrução', '4 anos', '6 anos', '2 anos', '1 anos',
       '3 anos', '7 anos', '10 anos', 'Não determinado', '12 anos'],
      dtype=object)

In [16]:
# Variável qualitativa ordinal
dataset['anos_de_estudo'].unique()

array(['11 anos', '14 anos', '5 anos', '8 anos', '13 anos', '15 anos',
       '9 anos', 'Sem instrução', '4 anos', '6 anos', '2 anos', '1 anos',
       '3 anos', '7 anos', '10 anos', 'Não determinado', '12 anos'],
      dtype=object)

In [18]:
# Variável qualitativa nominal
dataset['estado'].unique()

array(['SP', 'RJ', None, 'ES', 'MG', 'PR', 'RS'], dtype=object)

In [19]:
# Variável qualitativa nominal
dataset['sexo'].unique()

array(['Masculino', 'Feminino'], dtype=object)

In [20]:
# Variável qualitativa nominal
dataset['cor'].unique()

array(['Parda', 'Branca', 'Preta', 'Amarela', 'Indígena'], dtype=object)

In [22]:
# Variável quantitativa discreta
dataset['idade'].unique()

array([23, 35, 46, 47, 34, 57, 60, 50, 26, 49, 52, 38, 45, 43, 53, 62, 69,
       41, 25, 33, 44, 65, 32, 30, 64, 31, 63, 40, 28, 37, 39, 36, 73, 56,
       27, 42, 51, 29, 24, 55, 67, 66, 61, 54, 48, 80, 79, 71, 59, 19, 22,
       77, 58, 17, 72, 70, 18, 21, 20, 68, 74, 76, 75, 84, 85, 78, 15, 82,
       95, 13, 83, 81, 87, 88, 16, 91, 92, 97, 89, 90, 86, 94, 14, 99])

In [23]:
# Variável quantitativa contínua
dataset['altura'].unique()

array([1.60380762, 1.73978983, 1.76044382, ..., 1.83058738, 1.72634426,
       1.65830485])

In [24]:
# Variável quantitativa contínua
dataset['renda'].unique()

array([  800,  1150,   880, ..., 36000,  1329,  5260])

In [25]:
# Distribuição de frequência
pd.value_counts(dataset['sexo'])

Masculino    53250
Feminino     23590
Name: sexo, dtype: int64

In [26]:
# Distribuição de frequência em porcentagem
pd.value_counts(dataset['sexo'], normalize=True) * 100

Masculino    69.299844
Feminino     30.700156
Name: sexo, dtype: float64

In [27]:
# Criando uma tabela de frequência para a variável sexo
pd.DataFrame({
    'Frequência' : pd.value_counts(dataset['sexo']),
    'Porcentagem' : pd.value_counts(dataset['sexo'], normalize=True) * 100
})

           Frequência  Porcentagem
Masculino       53250    69.299844
Feminino        23590    30.700156

In [28]:
# Tabela de frequência cruzada
pd.crosstab(dataset.sexo, dataset.cor)

cor        Amarela  Branca  Indígena  Parda  Preta
sexo
Feminino       117    9621       101  10862   2889
Masculino      235   22194       256  25063   5502

In [30]:
# Tabela de frequência cruzada com porcentagem
pd.crosstab(dataset.sexo, dataset.cor, normalize=True) * 100

cor         Amarela     Branca  Indígena      Parda     Preta
sexo
Feminino   0.152264  12.520822  0.131442  14.135867  3.759761
Masculino  0.305830  28.883394  0.333160  32.617126  7.160333

In [31]:
# Tabela de frequência cruzada em renda
pd.crosstab(dataset.sexo, dataset.cor, aggfunc='mean', values = dataset.renda)

cor            Amarela       Branca     Indígena        Parda        Preta
sexo
Feminino   3027.341880  2109.866750  2464.386139  1176.758516  1134.596400
Masculino  4758.251064  2925.744435  1081.710938  1659.577425  1603.861687

In [ ]:
# Categorizando a variável renda

bins = [0, 1576, 3152, 7880, 15760, dataset.renda.max()]
labels = ['E', 'D', 'C', 'B', 'A']

dataset['renda_class'] = pd.cut(dataset.renda, bins=bins, labels=labels, include_lowest=True)

In [ ]:
# Visualizando o novo dataset
dataset.head()

In [ ]:
# Visualizando a distribuição de frequência
pd.value_counts(dataset['renda_class'])

In [ ]:
# Visualizando a distribuição de frequência em porcentagem
pd.value_counts(dataset['renda_class'], normalize=True)

In [ ]:
# Importando biblioteca para criação de gráficos
import seaborn as sns

In [ ]:
# Definindo configurações de aparência
sns.set_style('darkgrid')

In [ ]:
# Criando uma distribuição de frequência de alturas

axes = sns.histplot(dataset['altura'], bins=50, alpha=0.5)

axes.figure.set_size_inches(8, 6)

axes.set_title('Distribuição de Frequências - Altura')

axes.set_xlabel('Contagem')

axes.set_ylabel('Altura')

In [ ]:
# Criando uma distribuição de frequência de rendas

axes = sns.histplot(dataset['renda'], bins=50, alpha=0.5)

axes.figure.set_size_inches(8, 6)

axes.set_title('Distribuição de Frequências - Renda')

axes.set_xlabel('Contagem')

axes.set_ylabel('Renda')

In [ ]:
# Sobre a média
dataset[['altura', 'idade', 'renda']].mean()

In [ ]:
# Sobre a mediana
dataset[['altura', 'idade', 'renda']].median()

In [ ]:
# Sobre a moda
dataset[['altura', 'idade', 'renda']].mode().loc[0]

In [ ]:
# Sobre o desvio padrão

dataset['altura'] = dataset['altura'] * 100

altura_media = dataset['altura'].mean()

dataset['desvio_medio'] = dataset['altura'] - altura_media

dataset.head()

In [ ]:
dataset['variancia'] = dataset['desvio_medio'] ** 2

dataset.head()

In [ ]:
dataset['desvio_padrao'] = dataset['variancia'] ** (1/2)

dataset.head()

In [ ]:
dataset['desvio_padrao'].mean()

In [ ]:
# Boxplots

sns.boxplot(dataset['altura'])

In [ ]:
sns.boxplot(dataset['renda'])