In [16]:
import pandas as pd

In [17]:
dataset = pd.read_csv('/home/jdspy/Documentos/datasets/fraud_dataset_example.csv')

In [18]:
dataset.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [19]:
dataset.shape

(101613, 11)

In [20]:
dataset.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [21]:
dataset.columns = [
    'Tempo',
    'Tipo',
    'Valor',
    'ClienteRemetente',
    'SaldoInicialRemetente',
    'SaldoFinalRemetente',
    'ClienteDestinatario',
    'SaldoInicialDestinatario',
    'SaldoFinalDestinatario',
    'Fraude',
    'SuperFraude'
]

In [22]:
dataset

,Tempo,Tipo,Valor,ClienteRemetente,SaldoInicialRemetente,SaldoFinalRemetente,ClienteDestinatario,SaldoInicialDestinatario,SaldoFinalDestinatario,Fraude,SuperFraude
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
101608,10,PAYMENT,7477.02,C513257306,785.00,0.00,M524833426,0.00,0.00,0,0
101609,10,CASH_OUT,282252.35,C210473293,220339.29,0.00,C1172042998,95156.01,91286.97,0,0
101610,10,PAYMENT,17289.01,C807582280,0.00,0.00,M334249577,0.00,0.00,0,0
101611,10,TRANSFER,1347146.45,C1315779140,1605.00,0.00,C1631408038,541639.43,2186953.43,0,0
101612,10,CASH_OUT,469539.21,C515691325,31133.00,0.00,C1383702768,0.00,469539.21,0,0

In [23]:
dataset.describe()

,Tempo,Valor,SaldoInicialRemetente,SaldoFinalRemetente,SaldoInicialDestinatario,SaldoFinalDestinatario,Fraude,SuperFraude
count,101613.000000,1.016130e+05,1.016130e+05,1.016130e+05,1.016130e+05,1.016130e+05,101613.000000,101613.0
mean,8.523457,1.740901e+05,9.071753e+05,9.234992e+05,8.810428e+05,1.183998e+06,0.001142,0.0
std,1.820681,3.450199e+05,2.829575e+06,2.867319e+06,2.399949e+06,2.797761e+06,0.033768,0.0
min,1.000000,3.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
25%,8.000000,1.001659e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
50%,9.000000,5.338541e+04,2.019047e+04,0.000000e+00,2.105800e+04,5.178343e+04,0.000000,0.0
75%,10.000000,2.124984e+05,1.947150e+05,2.192178e+05,5.919217e+05,1.063122e+06,0.000000,0.0
max,10.000000,1.000000e+07,3.893942e+07,3.894623e+07,3.400874e+07,3.894623e+07,1.000000,0.0

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101613 entries, 0 to 101612
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Tempo                     101613 non-null  int64
 1   Tipo                      101613 non-null  object
 2   Valor                     101613 non-null  float64
 3   ClienteRemetente          101613 non-null  object
 4   SaldoInicialRemetente     101613 non-null  float64
 5   SaldoFinalRemetente       101613 non-null  float64
 6   ClienteDestinatario       101613 non-null  object
 7   SaldoInicialDestinatario  101613 non-null  float64
 8   SaldoFinalDestinatario    101613 non-null  float64
 9   Fraude                    101613 non-null  int64
 10  SuperFraude               101613 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 8.5+ MB

In [25]:
pd.value_counts(dataset.Fraude)

0    101497
1       116
Name: Fraude, dtype: int64

In [27]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Tempo,101613.0,8.523457e+00,1.820681e+00,1.00,8.00,9.00,10.00,10.00
Valor,101613.0,1.740901e+05,3.450199e+05,0.32,10016.59,53385.41,212498.40,10000000.00
SaldoInicialRemetente,101613.0,9.071753e+05,2.829575e+06,0.00,0.00,20190.47,194715.00,38939424.03
SaldoFinalRemetente,101613.0,9.234992e+05,2.867319e+06,0.00,0.00,0.00,219217.76,38946233.02
SaldoInicialDestinatario,101613.0,8.810428e+05,2.399949e+06,0.00,0.00,21058.00,591921.70,34008736.98
SaldoFinalDestinatario,101613.0,1.183998e+06,2.797761e+06,0.00,0.00,51783.43,1063121.64,38946233.02
Fraude,101613.0,1.141586e-03,3.376824e-02,0.00,0.00,0.00,0.00,1.00
SuperFraude,101613.0,0.000000e+00,0.000000e+00,0.00,0.00,0.00,0.00,0.00

In [28]:
import pandas_profiling

/tmp/ipykernel_6766/1591302161.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

In [30]:
report = pandas_profiling.ProfileReport(dataset)

In [31]:
report.to_file('report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [45]:
dataset = pd.get_dummies(data = dataset, columns=['Tipo'])

In [46]:
dataset

,Tempo,Valor,ClienteRemetente,SaldoInicialRemetente,SaldoFinalRemetente,ClienteDestinatario,SaldoInicialDestinatario,SaldoFinalDestinatario,Fraude,SuperFraude,Tipo_CASH_IN,Tipo_CASH_OUT,Tipo_DEBIT,Tipo_PAYMENT,Tipo_TRANSFER
0,1,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,0,0,0,1,0
1,1,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,0,0,0,1,0
2,1,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,0,0,0,0,1
3,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,0,1,0,0,0
4,1,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101608,10,7477.02,C513257306,785.00,0.00,M524833426,0.00,0.00,0,0,0,0,0,1,0
101609,10,282252.35,C210473293,220339.29,0.00,C1172042998,95156.01,91286.97,0,0,0,1,0,0,0
101610,10,17289.01,C807582280,0.00,0.00,M334249577,0.00,0.00,0,0,0,0,0,1,0
101611,10,1347146.45,C1315779140,1605.00,0.00,C1631408038,541639.43,2186953.43,0,0,0,0,0,0,1
101612,10,469539.21,C515691325,31133.00,0.00,C1383702768,0.00,469539.21,0,0,0,1,0,0,0

In [48]:
dataset = dataset.drop(['SuperFraude', 'ClienteRemetente', 'ClienteDestinatario'], axis=1)

In [49]:
dataset

,Tempo,Valor,SaldoInicialRemetente,SaldoFinalRemetente,SaldoInicialDestinatario,SaldoFinalDestinatario,Fraude,Tipo_CASH_IN,Tipo_CASH_OUT,Tipo_DEBIT,Tipo_PAYMENT,Tipo_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,1,0
2,1,181.00,181.00,0.00,0.00,0.00,1,0,0,0,0,1
3,1,181.00,181.00,0.00,21182.00,0.00,1,0,1,0,0,0
4,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
101608,10,7477.02,785.00,0.00,0.00,0.00,0,0,0,0,1,0
101609,10,282252.35,220339.29,0.00,95156.01,91286.97,0,0,1,0,0,0
101610,10,17289.01,0.00,0.00,0.00,0.00,0,0,0,0,1,0
101611,10,1347146.45,1605.00,0.00,541639.43,2186953.43,0,0,0,0,0,1
101612,10,469539.21,31133.00,0.00,0.00,469539.21,0,0,1,0,0,0

In [50]:
from sklearn.model_selection import train_test_split

In [53]:
x = dataset.drop(['Fraude'], axis=1)
y = dataset['Fraude']

In [54]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=100, test_size=0.25)

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
lr = LogisticRegression()

In [57]:
lr.fit(x_train, y_train)

LogisticRegression()

In [59]:
y_pred = lr.predict(x_test)

In [60]:
from sklearn import metrics

In [61]:
metrics.accuracy_score(y_pred, y_test)

0.9988584474885844

In [62]:
metrics.precision_score(y_pred, y_test)

0.18181818181818182

In [63]:
metrics.recall_score(y_pred, y_test)

0.75

In [64]:
metrics.f1_score(y_pred, y_test)

0.2926829268292683

In [70]:
def avaliate_model(y_pred, y_true):
    accuracy = metrics.accuracy_score(y_pred, y_true)
    precision = metrics.precision_score(y_pred, y_true)
    recall = metrics.recall_score(y_pred, y_true)
    f1 = metrics.f1_score(y_pred, y_true)
    
    print('Accuracy: %.2f' % accuracy)
    print('Precision: %.2f' % precision)
    print('Recall: %.2f' % recall)
    print('F1: %.2f' % f1)

In [71]:
avaliate_model(y_pred, y_test)

Accuracy: 1.00
Precision: 0.18
Recall: 0.75
F1: 0.29

In [72]:
metrics.confusion_matrix(y_pred, y_test)

array([[25369,    27],
       [    2,     6]])

In [76]:
while len(dataset) < (101729 * 2):
    dataset = pd.concat([dataset.query('Fraude == 1'), dataset])

In [78]:
pd.value_counts(dataset['Fraude'])

1    118784
0    101497
Name: Fraude, dtype: int64

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
x = dataset.drop(['Fraude'], axis=1)
y = dataset['Fraude']

In [81]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=100, test_size=0.25)

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
lr = LogisticRegression()

In [84]:
lr.fit(x_train, y_train)

LogisticRegression()

In [85]:
y_pred = lr.predict(x_test)

In [86]:
from sklearn import metrics

In [87]:
metrics.accuracy_score(y_pred, y_test)

0.913457173466979

In [88]:
metrics.precision_score(y_pred, y_test)

0.9316864383930978

In [89]:
metrics.recall_score(y_pred, y_test)

0.9098538704581358

In [90]:
metrics.f1_score(y_pred, y_test)

0.9206407353137072

In [91]:
def avaliate_model(y_pred, y_true):
    accuracy = metrics.accuracy_score(y_pred, y_true)
    precision = metrics.precision_score(y_pred, y_true)
    recall = metrics.recall_score(y_pred, y_true)
    f1 = metrics.f1_score(y_pred, y_true)
    
    print('Accuracy: %.2f' % accuracy)
    print('Precision: %.2f' % precision)
    print('Recall: %.2f' % recall)
    print('F1: %.2f' % f1)

In [92]:
avaliate_model(y_pred, y_test)

Accuracy: 0.91
Precision: 0.93
Recall: 0.91
F1: 0.92

In [93]:
metrics.confusion_matrix(y_pred, y_test)

array([[22660,  2027],
       [ 2739, 27645]])

In [94]:
dataset

,Tempo,Valor,SaldoInicialRemetente,SaldoFinalRemetente,SaldoInicialDestinatario,SaldoFinalDestinatario,Fraude,Tipo_CASH_IN,Tipo_CASH_OUT,Tipo_DEBIT,Tipo_PAYMENT,Tipo_TRANSFER
2,1,181.00,181.00,0.0,0.00,0.00,1,0,0,0,0,1
3,1,181.00,181.00,0.0,21182.00,0.00,1,0,1,0,0,0
251,1,2806.00,2806.00,0.0,0.00,0.00,1,0,0,0,0,1
252,1,2806.00,2806.00,0.0,26202.00,0.00,1,0,1,0,0,0
680,1,20128.00,20128.00,0.0,0.00,0.00,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
101608,10,7477.02,785.00,0.0,0.00,0.00,0,0,0,0,1,0
101609,10,282252.35,220339.29,0.0,95156.01,91286.97,0,0,1,0,0,0
101610,10,17289.01,0.00,0.0,0.00,0.00,0,0,0,0,1,0
101611,10,1347146.45,1605.00,0.0,541639.43,2186953.43,0,0,0,0,0,1
101612,10,469539.21,31133.00,0.0,0.00,469539.21,0,0,1,0,0,0

In [95]:
from sklearn.tree import DecisionTreeClassifier

In [104]:
dt = DecisionTreeClassifier(max_depth=5)

In [105]:
dt.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=5)

In [106]:
y_pred = dt.predict(x_test)

In [107]:
avaliate_model(y_pred, y_test)

Accuracy: 0.93
Precision: 1.00
Recall: 0.89
F1: 0.94

In [108]:
from sklearn.ensemble import RandomForestClassifier

In [121]:
rf = RandomForestClassifier(n_estimators=100, max_depth=2)

In [122]:
rf.fit(x_train, y_train)

RandomForestClassifier(max_depth=2)

In [123]:
y_pred = rf.predict(x_test)

In [124]:
avaliate_model(y_pred, y_test)

Accuracy: 0.91
Precision: 0.93
Recall: 0.90
F1: 0.92